#root {
  max-width: 1280px;
  padding: 2rem;
}

.greetings {
  padding: 4rem;
  font: 1.5rem bold Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
}

.visitorip {
  display: inline-block;
  padding: 2rem 0;
}

Footer {
  position: fixed;
  background-color: lightskyblue;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
}